<h1>Body Building News</h1>
<div id="picture">
  <img src="{{ this.imgURL }}">
</div>
<div id="lifter">
  <img src="img/snatch.png"/>
  <div id="buttons">
    <button id="next" data-id="{{ this._id }}">Next</button>
  </div>
</div>
<div id="content">
  <h2>{{ this.title }}</h2>
  <p>{{ this.synopsis }}</p>
</div>
<div id="arms1">
  <div class="comments">
    <h3>Post a Comment:</h3>
  </div>
  <img src="img/arms.png"/>
</div>
<div id="arms2">
  <div class="comments">
    <h3>Previously Left Comments:</h3>
  </div>
  <img src="img/arms.png"/>
</div>